body {
  text-align: center;
  font-family: Arial;
  background: #f0f0f0;
}

.game-container {
  position: relative;
  display: inline-block;
}

.board {
  width: 500px;
  height: 500px;
  border: 3px solid #222;
}

.player {
  width: 25px;
  height: 25px;
  background: red;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  left: 20px;
  transition: 0.5s ease;
}

button {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
}

.dice-box {
  margin-top: 20px;
}

.dice {
  width: 60px;
  height: 60px;
  background: white;
  border: 3px solid #222;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  border-radius: 10px;
}
